
<html>
<body>

   <div  id="titulomarca">
       <h1> El Cliente es lo primero</h1>
   </div>
 
 
    <div id="imagensomos"> 
          <%= image_tag('logotipo.jpeg' , :size =>'170')%>  
    </div>

   <div id="descripcionsomos"> 
                Nuestra web fue creada en 2011 , el motivo que nos llevo a hecha           
                fue básicamente que queríamos ofrecer al cliente un servicio donde pudiera 
                ver los precios y coches de cada marca.                                   
                

                Actualmente, disponemos de una ubicación donde vendemos coches de segunda mano. 
                En un futuro nos gustaría  poder ofrecerles a los clientes                      
                un servicio de compra online de coches de segunda mano  a través de             
                un buscador sencillo cuya búsqueda sea inmediata.                               

                
   </div>
   <div id="datossomos"> 
                  Datos de la empresa          

                   Nombre: RARACAR             
                   Telefono: 645123153        
                   Dirección: C/Alcala 25       
                   Provincia: Madrid            
                   Email:raracar@hotmail.com 
             
   </div>
     
     


</body>
</html>